%footer
    %h2 Elsewhere
    %ul.social
        %li.youtube
            %a{title: 'YouTube', target:'_blank', href: 'http://www.youtube.com/user/3nth30g3n'}
                YouTube
        %li.facebook
            %a{title: 'Facebook', target:'_blank', href: 'https://www.facebook.com/pages/Entheogen/70202543407'}
                Facebook
        %li.reverbnation
            %a{title: 'ReverbNation', target:'_blank', href: 'http://reverbnation.com/entheogenband'}
                ReverbNation
        %li.bandcamp
            %a{title: 'Bandcamp', target:'_blank', href: 'http://entheogenband.bandcamp.com/'}
                Bandcamp
        / %li.email
        /     %a{:href => 'mailto:info@entheogen.si'} info@entheogen.si