%section#materials
    %h2 Materials

    .cd{'data-bottom-top' => 'opacity: 0; transform[sqrt]: translateY(-8.00em);', 'data-center-center' => 'opacity: 1; transform[sqrt]: translateY(0.00em);'}
        %a{:href => 'http://entheogenband.bandcamp.com', :target => 'blank'}
            %img{:src => '/img/cd-preview-render.png'}