%section#visuals
    %h2 Visuals
    
    %iframe{:width => "560", :height => "315", :src => "//www.youtube.com/embed/videoseries?list=PL618hh982u6E8V4xoGgctKTOMEy4ZCrR3", :frameborder => "0", :allowfullscreen => 'true'}

    - Gallery.all.each do |gallery|
        .gallery{:id => "gallery_#{gallery.id}"}
            
            %h3
                = gallery.name
            
            - unless gallery.description.nil? or gallery.description.empty?
            
                .description
                    = gallery.description

            .images
                - gallery.photos.each do |photo|
                    .image.image-small
                        = image_tag photo.image.url

    :coffeescript
        $ ->
            $('#visuals').imagesLoaded -> 
                $('#visuals .images').packery({
                    itemSelector: '.image'
                    gutter: 0
                })
                $('#visuals .image').click (e) ->
                    if $(e.currentTarget).hasClass 'image-big'
                        $(e.currentTarget).removeClass 'image-big'
                        $(e.currentTarget).addClass 'image-small'
                    else
                        $(e.currentTarget).removeClass 'image-small'
                        $(e.currentTarget).addClass 'image-big'
                    
                    $(e.currentTarget).parent('.images').packery('fit', e.currentTarget)
                    $(e.currentTarget).parent('.images').packery('layout')